
*{
    margin: 0;
}

body{
    background-color: #222222;
    overflow: hidden;
}

.star{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #eeeeee;
    border-radius: 50%;
    box-shadow: 0 0 7px 3px #eeeeee,
    0 0 10px 5px #ffff00,
    0 0 25px 15px #cccc00;
}

/* Temp VVV */
.dynamic_opacity_star{
    opacity: 1;
}
.static_opacity_star{
    opacity: 0.75;
}